@using ETicaretASPNET.Models.Entity
@model IEnumerable<Product>
    @foreach (var item in Model) {
        
        <div class="thumbnail">
<img src="~/Content/images/@item.PImage" alt="@item.ProductDescription" />
            <div class="caption">
                <h5><a href="/Home/ProductDetails/@item.ProductID">@item.ProductName</a></h5>
                <h4 style="text-align:center">
                    <a class="btn" href="ProductDetails"></a>
                    
                </h4>
            </div>



        </div>


    }