
<ul class="navbar-nav ml-auto">
    @if (Request.IsAuthenticated)
    {

        if (this.User.IsInRole("Admin"))
        {

            <li class="nav-item active">
                <a class="nav-link" href="/Product/Index " target="_blank">Admin Paneli</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="shop.html">Profilim</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="product-details.html">@User.Identity.Name</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Account/LogOut">Çıkış Yap</a>
            </li>


        }

        else
        {

            <li class="nav-item">
                <a class="nav-link" href="shop.html">Profilim</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="product-details.html">@User.Identity.Name</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Account/LogOut">Çıkış Yap</a>
            </li>


        }


    }

    else
    {
        
        <li class="nav-item">
            <a class="nav-link" href="/Account/Register">Üye Ol</a>
        </li>
        <l
        <li class="nav-item">
            <a class="nav-link" href="/Account/Login">Giriş Yap</a>
        </li>



    }

</ul>