@using (@Html.BeginForm("Search", "Home", FormMethod.Get, new
{
    @class = "#"
}))
{
    <input type="search" name="q" id="q" placeholder="Anahtar kelimeyi giriniz">
    <button type="submit"><img src="/amado/img//core-img/search.png" alt=""></button>

}
